<article class="post">
  <div class="title">
    <h1>{{title}}</h1>
    <h2>{{post_contents}}</h2>
  </div>
  <div class="meta">
   by {{user.username}} on {{format_date created_at}}
  |
  <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
</div>
</article>